.container{
padding-top:3rem;
}

.row{
margin-bottom:1.5rem;

}

.form{
    text-align:center;
}


.btn{

background-color:#009688;
border-color:#009688;
margin-left:2rem;

}

.form-control:focus{
border-color:#009688;

}