<div class="container">

    <div class="row">
<div class="div col-md-6 offset-md-3">


<form class="form-inline" (ngSubmit)="addTask()" #taskForm="ngForm">
<div class="form-group">

<label for="content-field" class="sr-only"></label>
<input type= " text" class="form-control" id="content-field" required placeholder="Enter a task..."[(ngModel)]="currentTask.content" name ="content">


</div>

<button type="submit" class="btn btn-primary"[disabled]="taskForm.form.invalid">Add task</button>


</form>

</div>

    </div>


    <div class="row">

<app-card *ngFor="let task of tasks" [task]="task"></app-card>

</div>

</div>