.card {
    border-radius:0;

}

.card,
.card-footer{
background-color:#ffffa5;
border:none;

}

.card-footer{

    text-align:right;
}


.card.completed,
.card.completed  .card-footer{

background-color:#EEE;
color:#ccc;

}

i{
color:red;
    padding-right:.5rem!important;
}