<div class="col-sm-3">
<div class="card"(click)="statusToggle()"[class.completed]="task.completed">

    <div class="card-block"></div>
    <p>{{task.content}}</p>

    <div class="card-footer">
 <i class="fa fa-times" aria-hidden="true">Not Completed</i>
    </div>
   
</div>


</div>